<!DOCTYPE HTML>
{% load staticfiles %}
<html>
	<head>

            <link rel="stylesheet" href="{% static 'css/main.css' %}">
    <!--<link rel="stylesheet" href="assets/css/main.css" /> -->


    <noscript><link rel="stylesheet" href="{% static 'css/noscript.css'}"></noscript>
    <!--<noscript><link rel="stylesheet" href="assets/css/noscript.css" /></noscript> -->
		<title>Pinkmatters</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />

	</head>
	<body class="is-loading">

		<!-- Wrapper -->
			<div id="wrapper" class="fade-in">

				<!-- Intro -->
					<div id="intro">

						<h1>Pink Matters<br />
						Records</h1>
						<p>Reinventando el concepto de Música<a ></a>  <a ></a><br />
						 <a></a>.</p>
						<ul class="actions">
							<li><a href="#header" class="button icon solo fa-arrow-down scrolly">Continue</a></li>
						</ul>
					</div>

				<!-- Header -->
					<header id="header">
						<a href="index.html" class="logo">Reload</a>
					</header>

				<!-- Nav -->
					<nav id="nav">
						{% block tira %}
						{% endblock %}
						<ul class="icons">
							<li><a href="#" class="icon fa-twitter"><span class="label">Twitter</span></a></li>
							<li><a href="#" class="icon fa-facebook"><span class="label">Facebook</span></a></li>
							<li><a href="#" class="icon fa-instagram"><span class="label">Instagram</span></a></li>
							<li><a href="https://github.com/osgard/PaginaWeb.git" class="icon fa-github"><span class="label">GitHub</span></a></li>
						</ul>
					</nav>

				<!-- Main -->
					<div id="main">

						<!-- Featured Post -->
							<article class="post featured">
								<header class="major">
									<span class="date">enjoy</span>
									<h2><a href="{% url 'index' %}">Porque creemos<br />
									en la música</a></h2>
									<p>apoya al arte, apoya a la música</p>
								</header>
								<a href="#" class="image main"><img src="images/pic01.jpg" alt="" /></a>
								<ul class="actions">
									<li><a href="#" class="button big">Full Story</a></li>
								</ul>
							</article>

						<!-- Posts -->
							<section class="posts">
                {% block content %}
                  {% endblock %}
							</section>

						<!-- Footer -->
							<footer>
								<div class="pagination">
									<!--<a href="#" class="previous">Prev</a>-->
									<!--
									<a href="#" class="page active">1</a>
									<a href="#" class="page">2</a>
									<a href="#" class="page">3</a>
									<span class="extra">&hellip;</span>
									<a href="#" class="page">8</a>
									<a href="#" class="page">9</a>
									<a href="#" class="page">10</a>
									<a href="#" class="next">Next</a>
								-->
								</div>
							</footer>

					</div>

				<!-- Footer -->
					<footer id="footer">
						<section>
							<p>Somos un grupo ed personas que a favor de la distribcion del arte sonoro </br>
							hemos creado algunas alianzas con bandas de algunas disqueras para que el precio </br>
						de sus albums sea accesible a todo el mundo gracias a su bajo costo</p>
						</section>
						<section class="split contact">
							<p>Proyecto dirigo por: Guerrero Castro Luis Ismael</br>
							Herrera Figueroa Oscar</p>
						</section>
					</footer>

				<!-- Copyright -->
					<div id="copyright">
						<ul><li>&copy; UPIITA</li>
					</div>

			</div>

		<!-- Scripts -->

		<script src="{% static 'js/jquery.min.js' %}" ></script>
			<!--<script src="assets/js/jquery.min.js"></script> -->
      <script src="{% static 'js/jquery.scrollex.min.js' %}"></script>
			<!--<script src="assets/js/jquery.scrollex.min.js"></script>-->
      <script src="{% static 'js/jquery.scrolly.min.js' %}"></script>
			<!--<script src="assets/js/jquery.scrolly.min.js"></script>-->
      <script src="{% static 'js/skel.min.js' %}"></script>
			<!--<script src="assets/js/skel.min.js"></script>-->
      <script src="{% static 'js/util.js' %}"></script>
			<!--<script src="assets/js/util.js"></script>-->
      <script src="{% static 'js/main.js' %}"></script>
			<!--<script src="assets/js/main.js"></script>-->

	</body>
</html>
