{% extends 'tienda/base.html' %}

{% block tira %}
<ul class="links">
  <li class="active"><!-- <a href="index.html">Precentacion</a>  -->
    <div class="search_box pull-right">
   <input id="buscador" type="text" placeholder="Buscar..."/>
   <div id="quebusco"><div>
  </div></li>
  {% if user.is_authenticated %}
  <li><a href="{% url 'log_out' %}">Cerrar Sesion</a></li>
  <li><a href="#">Bienvenid@:{{user.username}}</a></li>
  {% else %}
  <li><a href="{% url 'cliente_log' %}">Iniciar Sesion</a></li>
  <li><a href="{% url 'cliente_new' %}">Rgistrarse</a></li>
  {% endif %}
</ul>
{% endblock %}


{% block content %}
{% if user.is_authenticated %}
{% for producto in productos %}
<article>
  <header>
    <span class="date">{{producto.nombreP}}</span>

  </header>
  <a href="{% url 'producto_detail' pk=producto.pk %}" class="image fit"><img src="{{producto.portada}}" alt="" /></a>
  <a href="#">Artista:{{producto.artista}}</a><br />
  <p>percio:{{producto.precio}}<br />
  fecha de liberacion: {{producto.published_date}}</p>
  <ul class="actions">
    <li><a href="/carrito{{tomo.Articulo}}/1?next={{request.get_full_path}}" class="button">Agregar al cARRITO</a></li>
  </ul>
</article>
{%endfor%}

{% else %}

<header class="major">
  <span class="date">aviso de uso</span>
  <h2><a href="{% url 'index' %}">Vive la experiencia <br />
  de Pink Matters</a></h2>
  <p>Inicia sesion o registrate</p>
</header>
  {% endif %}

{% endblock %}
